/* 需要被入口函数引入的全局样式 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding:0;
    min-width: 1366px; 
}
.el-cascader-panel{
    height: 200px;
}
.el-step__title{
    font-size: 13px;
}
.ql-editor{
    min-height: 300px;
}